<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card text-center">
      <%# <img src="..." class="card-img-top" alt="..."> %>
      <div class="card-body">
        <h5 class="card-title">Ver Productos</h5>
        <p class="card-text"><img src="https://img.icons8.com/fluent/80/000000/hamper.png"/></p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card text-center">
      <%# <img src="..." class="card-img-top" alt="..."> %>
      <div class="card-body">
        <h5 class="card-title">Nuevo Pedido</h5>
        <p class="card-text"><img src="https://img.icons8.com/color/80/000000/add-folder.png"/></p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card text-center">
      <%# <img src="..." class="card-img-top" alt="..."> %>
      <div class="card-body">
        <h5 class="card-title">Clientes</h5>
        <p class="card-text"><img src="https://img.icons8.com/officel/80/000000/user-group-man-man.png"/></p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card text-center">
      <%# <img src="..." class="card-img-top" alt="..."> %>
      <div class="card-body">
        <h5 class="card-title">Historial Ordenes</h5>
        <p class="card-text"><img src="https://img.icons8.com/cotton/80/000000/purchase-order.png"/></p>
      </div>
    </div>
  </div>
</div>